.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@font-face {
  font-family: "GmarketSansLight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff")
    format("woff");
}

@font-face {
  font-family: "yg-jalnan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff")
    format("woff");
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
}
.MainPage {
  width: auto;
  height: 450px;
  overflow: hidden;
}
.container {
  background: linear-gradient(135deg, #fff, #a8d4ee);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-wrapper {
  background-color: #fff;
  min-width: 350px;
  min-height: 650px;
  padding: 50px;
  box-sizing: border-box;
  border-radius: 5px;
}

.ott-wrapper {
  background-color: #fff;
  min-width: 650px;
  min-height: 650px;
  padding: 50px;
  box-sizing: border-box;
  border-radius: 5px;
}

.profile-wrapper {
  background-color: #fff;
  min-width: 400px;
  min-height: 550px;
  padding: 50px;
  box-sizing: border-box;
  border-radius: 5px;
}

.group-wrapper {
  background-color: #fff;
  min-width: 650px;
  min-height: 700px;
  padding: 50px;
  box-sizing: border-box;
  border-radius: 5px;
}

.ott {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: 300px;
  box-shadow: 1px 1px 5px 1px gray;
}

.profile-main,
.profile-top {
  box-shadow: 1px 1px 5px 1px gray;
}
.ott-ul {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  padding-left: 0;
  list-style: none;
}
.ott-title,
.title {
  font-family: "yg-jalnan";
  color: blue;
  text-align: center;
  margin: 80px 0px 40px 0px;
}

.ott-td:hover {
  background-color: #d3e5ff;
  border-radius: 5px;
  cursor: pointer;
}
.table-main {
  width: 80%;
  height: 550px;
  margin: 0 auto;
  text-align: center;
  border-spacing: 0;
  box-shadow: 1px 1px 5px 1px gray;
}

.ott-table {
  width: 400px;
  text-align: center;
  border-spacing: 0;
}
.table-row {
  color: blue;
  font-family: "GmarketSansMedium";
}
.name,
.ID,
.nickname,
.email,
.password {
  font-family: "GmarketSansLight";
  margin: 20px;
  color: #969292;
  font-size: 16px;
}

.profile-name {
  font-family: "GmarketSansMedium";
  padding-left: 170px;
  margin: 20px;
  color: #006eff;
  font-size: 40px;
}

.ott-name {
  font-family: "GmarketSansMedium";
  font-size: 5px;
  color: black;
}

.password {
  margin-bottom: 40px;
}

.input {
  font-family: "GmarketSansLight";
  height: 32px;
  font-size: 20px;
  outline: none;
  width: 100%;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: 2px solid black;
  margin-bottom: 10px;
}

.error {
  color: red;
}

.submit {
  font-family: "GmarketSansLight";
  display: flex;
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 25px;
  color: white;
  padding: 10px 60px;
  background: linear-gradient(to right, #034c8c, #22ccf2);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  margin: auto;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.1s;
}

button:active {
  transform: translate(2px);
}

.form-success {
  display: flex;
  font-family: "GmarketSansLight";
  justify-content: center;
  margin-top: 250px;
  min-width: 370px;
  color: #043259;
}
